<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Complaints</title>
<link rel="stylesheet" href="/showComplaints.css">
</head>

<body>
    <!-- navbar -->
     <div class="navbar">
    <div class="logo"><img src="https://www.shutterstock.com/shutterstock/photos/1396002164/display_1500/stock-vector-a-mumbai-police-logo-symbol-1396002164.jpg" alt="logo" width="30" height="24"> Police Station Management System (PSMS)</div>
    <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/register/criminal">Add Criminals</a>
        <!-- <a href="#">Crimes</a> -->
        <a href="/officers/register"> Add Officer</a>
        <a href="/complaints/register">Register Complaints</a>
    </div>
</div>


<div class="navbar">
    <h2>📄 Complaints Filed</h2>
</div>

<div class="container">

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Type</th>
            <th>Incident Date</th>
            <th>Location</th>
        </tr>
    </thead>

    <tbody>
   
      <%   for(res of data){ %>
          <tr>
            <td><%= res.complaint_id %></td>
            <td><%= res.complainant_name %></td>
            <td><%= res.complainant_contact %></td>
            <td><%= res.complainant_address %></td>
            <td><%= res.complaint_type %></td>
            <td>  <%= new Date(res.incident_date).toLocaleDateString('en-IN', {
        day: '2-digit',
        month: 'short',
        year: 'numeric'
  }) %></td>
            <td><%= res.incident_location %></td>
        </tr>
     <%  }  %> 

        

    </tbody>
</table>

</div>

</body>
</html>