<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Police Station Manager</title>
<link rel="stylesheet" href="/showCriminals.css">
<link rel="icon" href="https://www.shutterstock.com/shutterstock/photos/1396002164/display_1500/stock-vector-a-mumbai-police-logo-symbol-1396002164.jpg">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

<!-- Navbar -->
<div class="navbar">
    <div class="logo"> <img src="https://www.shutterstock.com/shutterstock/photos/1396002164/display_1500/stock-vector-a-mumbai-police-logo-symbol-1396002164.jpg" alt="logo" width="30" height="24"> Police Station Management System (PSMS)</div>
    <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/register/criminal">Add Criminals</a>
        <!-- <a href="#">Crimes</a> -->
        <a href="/officers/register">Add Officer</a>
        <a href="/complaints/register">Register Complaint</a>
        <a  href="/missing/add">Add Missing Complaint</a>
    </div>
</div>
<div class="container">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Address</th>
            <th>Contact Number </th>
            <th>Identification mark</th>
        </tr>
    </thead>

    <tbody>
   
      <%   for(res of data){ %>
          <tr>
            <td><%= res.criminal_id %></td>
            <td><%= res.first_name %> &nbsp;  <%= res.last_name %></td>
            <td><%= res.gender %></td>
            <td> <%= new Date(res.date_of_birth).toLocaleDateString('en-IN', {
        day: '2-digit',
        month: 'short',
        year: 'numeric'
  }) %></td>
            <td><%= res.address %></td>
            <td>  <%= res.contact_number %></td>
            <td><%= res.identification_mark %></td>
        </tr>
     <%  }  %> 

        

    </tbody>
</table>


</div>


<script src="app.js"></script>
</body>
</html>